*{
  margin:0;
  /*padding:0;*/
}

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #5e5b64;
  text-align:left;
}

a, a:visited {
  outline:none;
  color:#389dc1;
}

a:hover{
  text-decoration:none;
}

section, footer, header, aside, nav{
  display: block;
}

/*-------------------------
  The menu
--------------------------*/
.appheader {
  position: absolute;
/*  top: 0;*/
  width: 100%;
  max-height: 3rem;

}

.pages-container {
  position: absolute;
  top: 3rem;
  display: inline-block;

}

.control-panel {
position: absolute;
width: 25rem;
height: 100%;
display: inline-block;


}

.settings{
 padding: 5px 0 0 0;

font-size:16px;
  font-weight:bold;
  color:#7d9098;
  padding-left: 1rem;
background: #222;
width: 24rem;
}

.response-panel {
  position: absolute;
left: 25rem;

width: 40rem;
height: 90%;

margin: 0 0 0 5px;

}

.script-panel {
position: absolute;
left: 64rem;
width: 40rem;;
height: 100%;
}

nav{
  /*display:inline-block;*/
  margin:0px 0px 0 0;
  background-color:#222;
  box-shadow:0 1px 1px #ccc;
  border-radius:2px;
  width: 100%;
}

nav a{
  display:inline-block;
  padding: 1rem 25px;
  color:#fff !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-decoration:none !important;
  line-height:1;
  text-transform: uppercase;
  background-color:transparent;

  -webkit-transition:background-color 0.25s;
  -moz-transition:background-color 0.25s;
  transition:background-color 0.25s;
}

nav a:first-child{
  border-radius:2px 0 0 2px;
}

nav a:last-child{
  border-radius:0 2px 2px 0;
}


nav.ios .ios,
nav.android .android{
  background-color:#2B678F;
}


p {
  font-size:16px;
  font-weight:bold;
  color:#7d9098;
  padding-left: 5px;
}

p b{
  color:#ffffff;
  display:inline-block;
  padding:5px 10px;
  background-color:#c4d7e0;
  border-radius:2px;
  text-transform:uppercase;
  font-size:18px;
}

button {
margin: 5px 0 0 5px;

}
.actions {

width: 25rem;
background: #222;

}

#screenshot {
top:100px;
margin: 5px 0 0 0;
width: 25rem;
height: 42rem;
background: rgba(180, 184, 192, 0.67);
box-shadow: 0 0 10px #DDD inset;


}

.responsebox,.scriptbox {
  /*padding: 5px 0;*/
  background: white;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 0 5px #DDD inset;
  color: #666;
  outline: none;
  width:95%;
  height:50rem;
 }

textarea {
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing:border-box;
  moz-box-sizing:border-box;
  -webkit-appearance: textarea;
  background-color: white;
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  flex-direction: column;
  resize: auto;
  cursor: auto;
  padding: 2px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
